{% load crispy_forms_tags %}

<div id="form-receita-container" class="col-lg-4 mb-4" {% if hx_swap_oob %}hx-swap-oob="true"{% endif %}>
    <h2 class="mb-4">Adicionar Receita</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST" hx-post="{% url 'lista_receitas' %}" hx-target="#form-receita-container" hx-swap="outerHTML">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Salvar Receita</button>
            </form>
        </div>
    </div>
</div>